* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", serif;
}

/* hero section */

.hero {
    height: 120vh;
    background: url('images/landingpageimg/Rectangle\ 62\ \(1\).png');
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 10vh;
    width: 70vw;
    margin: auto;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.458);
    position: fixed;
    top: 0;
    margin-top: 4vh;
    margin-left: 14vw;
    z-index: 1;
}

.iconsbox {
    width: 2vw;
    display: inline;
}

.barsicon, .logoicon {
    display: none;
}

.logoBox {
    display: inline-block;
    margin-left: 2.2vw;
}

.wblogo {
    height: 8.8vh;
}

.navBox {
    list-style: none;
    width: 24vw;
    height: 4vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.navul {
    list-style-type: none;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 22vw;
}

.navli {
    font-size: 2.2vh;
    text-align: center;
    color: black;
    height: 3vh;
}

a.Alink-nav:link,
a.Alink-nav:visited {
    color: #757575;
    text-decoration: none;
    font-weight: 400;
    border: none;
}

a.Alink-nav:hover:not(.active) {
    color: black;
    font-weight: 400;
}

a.Alink-nav:hover {
    color: black;
}

a.Alink-nav:active,
.active {
    color: #6f42c1;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 1vh;
    border-bottom: 1.5px solid #6f42c1;
}

.signupbuttonsBox {
    display: flex;
    justify-content: space-between;
    height: 7vh;
    width: 17vw;
    margin-right: 2.2vw;
}

a.Alink-signup:link, a.Alink-signup:visited {
    background: none;
    color: black;
    width: 8vw;
    height: 6.6vh;
    text-decoration: none;
    align-content: center;
    text-align: center;
    font-family: "Poppins", serif;
    font-size: 2.2vh;
    border: 1px solid #6f42c1;
    border-radius: 8px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}
  
a.Alink-signup:hover, a.Alink-signup:active {
    background-color: black;
    color: white;
    width: 8vw;
    height: 6.6vh;
    align-content: center;
    text-decoration: none;
    text-align: center;
    font-size: 2.2vh;
    font-family: "Poppins", serif;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    transition: 0.3s ease-in;
}

a.Alink-signin:link, a.Alink-signin:visited {
    background-color: #6f42c1;
    color: white;
    width: 8vw;
    height: 6.6vh;
    text-decoration: none;
    align-content: center;
    text-align: center;
    font-family: "Poppins", serif;
    font-size: 2.2vh;
    border-radius: 10px;
    font-weight: 400;
    font-style: normal;
    border: none;
    cursor: pointer;
}
  
a.Alink-signin:hover, a.Alink-signin:active {
    background-color: #5d37a1;
    color: white;
    width: 8vw;
    height: 6.6vh;
    align-content: center;
    text-decoration: none;
    text-align: center;
    font-size: 2.2vh;
    font-family: "Poppins", serif;
    font-weight: 400;
    border-radius: 10px;
    border: none;
    transition: 0.3s ease-in;
}

.heroContent {
    width: 98vw;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.hC-textbox {
    width: 45vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3vw;
    margin-top: 15vh;
}

h1 {
    font-size: 8.8vh;
    line-height: 10vh;
    color: black;
}

.h1yellow {
    font-size: 8.8vh;
    color: #fec107;
    text-shadow: 1px 1px 2px black;
}

.h1purple {
    font-size: 8.5vh;
    color: #8762cb;
    text-shadow: 1px 1px 2px black;
}

.hCpara {
    font-size: 2.7vh;
    color: black;
}

.proceedButton {
    background-color: #6f42c1;
    color: white;
    width: 20vw;
    height: 8.4vh;
    display: flex;
    text-decoration: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "Poppins", serif;
    font-size: 2.2vh;
    border-radius: 8px;
    font-weight: 400;
    font-style: normal;
    margin-left: 0vw;
    border: none;
    margin-top: 0vh;
    cursor: pointer;
}
  
.proceedButton:hover {
    background-color: #5d37a1;
    color: white;
    width: 20vw;
    height: 8.4vh;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-size: 2.2vh;
    font-family: "Poppins", serif;
    font-weight: 400;
    border-radius: 8px;
    margin-left: 0vw;
    margin-top: 0vh;
    border: none;
    transition: 0.3s ease-in;
}

.proceedarrow {
    margin-top: 1vh;
    margin-left: 1vw;
}

.arrowforward {
    height: 3vh;
}

.hC-imgbox {
    margin-right: 2vw;
    margin-top: 3vh;
    display: inline;
    position: relative;
    animation-name: hCani;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: 10;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes hCani {
    0% {top:20px; bottom:0px;}
    25% {top:0px; bottom:20px;}
    50% {top:20px; bottom:0px;}
    75% {top:0px; bottom:20px;}
    100% {top:20px; bottom:0px;}
}

.hCimg {
    height: 79vh;
}

.stats {
    width: 100%;
    height: 35vh;
    align-content: center;
    background-image: url('images/landingpageimg/Rectangle\ 108.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 100%;
    background-position-y: 100%;
    background-size: cover;
    background-origin: padding-box;
    z-index: 0;
    object-fit: cover;
    object-position: 10% 100%;
    position: relative;
    filter: grayscale(100%, 100%);
}

.statoverlay {
    width: 100%;
    height: 35vh;
    z-index: 1;
    background-color: #a379f075;
    position: absolute;
    bottom: 0;
}

.statsBox {
    width: 90vw;
    height: 28vh;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}

.statBox1, .statBox2, .statBox3 {
    width: 20vw;
    height: 25vh;
    align-content: center;
    z-index: 2;
}

.statNo {
    color: white;
    font-size: 8.8vh;
    text-align: center;
    font-weight: 600;
    text-shadow: 1px 1px 5px #fec00722;
}

.statPara {
    color: white;
    font-size: 2.5vh;
    text-align: center;
    font-weight: 300;
    text-shadow: 1px 1px 5px #2d1a4e;
}




/* Tablet screen */

@media (max-width: 1024px), (max-width: 1228px), (max-width: 820px), (max-width: 768px) { 

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 62.5%;
    }
    
    body {
        font-family: "Poppins", serif;
    }

    /* hero section */

    .hero {
        height: 110vh;
        background-image: url('images/landingpageimg/Rectangle\ 62\ \(1\).png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: 30%;
        background-position-y: 45%;
        background-size: cover;
        background-origin: padding-box;
        z-index: 0;
        object-fit: cover;
        object-position: 100% 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        height: 6.6vh;
        width: 80vw;
        margin: auto;
        border-radius: 18px;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.458);
        position: fixed;
        top: 0;
        margin-top: 4vh;
        margin-left: 10vw;
        z-index: 1;
    }

    .iconsbox {
        width: 2vw;
        display: inline;
    }
    
    .barsicon, .logoicon {
        display: none;
    }
    
    .logoBox {
        display: inline-block;
        margin-left: 2.2vw;
    }
    
    .wblogo {
        height: 5vh;
    }
    
    .navBox {
        list-style: none;
        width: 26vw;
        height: 3vh;
        margin: auto;
    }
    
    .navul {
        list-style-type: none;
        margin: auto;
        width: 25vw;
        display: flex;
        justify-content: space-between;
    }
    
    .navli {
        font-size: 1.1vh;
        text-align: center;
        color: black;
        height: 3vh;
    }
    
    a.Alink-nav:link,
    a.Alink-nav:visited {
        color: #757575;
        text-decoration: none;
        font-weight: 400;
        border: none;
    }
    
    a.Alink-nav:hover:not(.active) {
        color: black;
        font-weight: 400;
    }
    
    a.Alink-nav:hover {
        color: black;
    }
    
    a.Alink-nav:active,
    .active {
        color: #6f42c1;
        font-weight: 500;
        text-decoration: none;
        padding-bottom: 1vh;
        border-bottom: 1.5px solid #6f42c1;
    }
    
    .signupbuttonsBox {
        display: flex;
        justify-content: space-between;
        height: 4vh;
        width: 17.7vw;
        margin-right: 2.2vw;
    }
    
    a.Alink-signup:link, a.Alink-signup:visited {
        background: none;
        color: black;
        width: 8vw;
        height: 3.5vh;
        text-decoration: none;
        align-content: center;
        text-align: center;
        font-family: "Poppins", serif;
        font-size: 1.1vh;
        border: 1px solid #6f42c1;
        border-radius: 8px;
        font-weight: 400;
        font-style: normal;
        cursor: pointer;
    }
      
    a.Alink-signup:hover, a.Alink-signup:active {
        background-color: black;
        color: white;
        width: 8vw;
        height: 3.5vh;
        align-content: center;
        text-decoration: none;
        text-align: center;
        font-size: 1.1vh;
        font-family: "Poppins", serif;
        font-weight: 400;
        border: none;
        border-radius: 8px;
        transition: 0.3s ease-in;
    }
    
    a.Alink-signin:link, a.Alink-signin:visited {
        background-color: #6f42c1;
        color: white;
        width: 8vw;
        height: 3.5vh;
        text-decoration: none;
        align-content: center;
        text-align: center;
        font-family: "Poppins", serif;
        font-size: 1.1vh;
        border-radius: 10px;
        font-weight: 400;
        font-style: normal;
        border: none;
        cursor: pointer;
    }
      
    a.Alink-signin:hover, a.Alink-signin:active {
        background-color: #5d37a1;
        color: white;
        width: 8vw;
        height: 3.5vh;
        align-content: center;
        text-decoration: none;
        text-align: center;
        font-size: 1.1vh;
        font-family: "Poppins", serif;
        font-weight: 400;
        border-radius: 10px;
        border: none;
        transition: 0.3s ease-in;
    }
    
    .heroContent {
        width: 98vw;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
    }
    
    .hC-textbox {
        width: 80vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
        margin-top: 4vh;
    }
    
    h1 {
        font-size: 5vh;
        line-height: 6.6vh;
        color: black;
        text-align: center;
    }
    
    .h1yellow {
        font-size: 5vh;
        color: #fec107;
        text-shadow: 1px 1px 2px black;
        font-weight: 600;
    }
    
    .h1purple {
        font-size: 5vh;
        color: #8762cb;
        text-shadow: 1px 1px 2px black;
        font-weight: 600;
    }
    
    .hCpara {
        font-size: 1.4vh;
        color: black;
        text-align: center;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    
    .proceedButton {
        background-color: #6f42c1;
        color: white;
        width: 28vw;
        height: 4vh;
        display: flex;
        text-decoration: none;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-family: "Poppins", serif;
        font-size: 1.3vh;
        border-radius: 8px;
        font-weight: 400;
        font-style: normal;
        margin: auto;
        border: none;
        margin-top: 0vh;
        cursor: pointer;
    }
      
    .proceedButton:hover {
        background-color: #5d37a1;
        color: white;
        width: 28vw;
        height: 4vh;
        display: flex;
        align-items: center;
        text-decoration: none;
        text-align: center;
        justify-content: center;
        font-size: 1.3vh;
        font-family: "Poppins", serif;
        font-weight: 400;
        border-radius: 8px;
        margin: auto;
        margin-top: 0vh;
        border: none;
        transition: 0.3s ease-in;
    }
    
    .proceedarrow {
        margin-top: 0.6vh;
        margin-left: 1vw;
    }
    
    .arrowforward {
        height: 1.8vh;
    }
    
    .hC-imgbox {
        margin-top: 2vh;
        display: inline;
        position: relative;
        animation-name: hCani;
        animation-duration: 4s;
        animation-delay: 0s;
        animation-iteration-count: 10;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        margin: auto;
    }
    
    @keyframes hCani {
        0% {top:20px; bottom:0px;}
        25% {top:0px; bottom:20px;}
        50% {top:20px; bottom:0px;}
        75% {top:0px; bottom:20px;}
        100% {top:20px; bottom:0px;}
    }
    
    .hCimg {
        height: 50vh;
        z-index: 0;
    }

    .stats {
        width: 100%;
        height: 22vh;
        align-content: center;
        background-image: url('images/landingpageimg/Rectangle\ 108.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: 81.5%;
        background-position-y: 10%;
        background-size: cover;
        background-origin: padding-box;
        z-index: 0;
        object-fit: cover;
        object-position: 10% 10%;
        position: relative;
        filter: grayscale(100%, 100%);
    }
    
    .statoverlay {
        width: 100%;
        height: 22vh;
        z-index: 1;
        background-color: #a379f075;
        position: absolute;
        bottom: 0;
    }
    
    .statsBox {
        width: 90vw;
        height: 17vh;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        z-index: 2;
        
    }
    
    .statBox1, .statBox2, .statBox3 {
        width: 30vw;
        height: 15vh;
        align-content: center;
        z-index: 2;
    }
    
    .statNo {
        color: white;
        font-size: 3.6vh;
        text-align: center;
        font-weight: 600;
        text-shadow: 1px 1px 5px #fec00722;
    }
    
    .statPara {
        color: white;
        font-size: 1.5vh;
        text-align: center;
        font-weight: 300;
        text-shadow: 1px 1px 5px #2d1a4e;
    }
 }



/* Mobile screen */

@media (max-width: 932px), (max-width: 850px), (max-width: 600px), (max-width: 412px), (max-width: 390px), (max-width: 375px), (max-width: 360px) { 

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 62.5%;
    }
    
    body {
        font-family: "Poppins", serif;
    }
    
    /* hero section */

    .hero {
        height: 100vh;
        width: 100%;
        background-image: url('images/landingpageimg/Rectangle\ 62\ \(1\).png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: 30%;
        background-position-y: 45%;
        background-size: cover;
        background-origin: padding-box;
        z-index: 0;
        object-fit: cover;
        object-position: 100% 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .iconsbox {
        width: 100%;
        height: 10vh;
        margin-top: 2vh;
        display: flex;
        justify-content: space-between;
        z-index: 100;
    }

    .barsicon, .logoicon {
        display: inline;
    }

    .bars:hover, .bars:active {
        height: 7vh;
    }

    .bars {
        height: 8vh;
    }

    .wblogo2 {
        height: 5.2vh;
        margin-top: 2.2vh;
        margin-left: 4vw;
    }

    nav {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.952);
        height: 18vh;
        width: 50vw;
        margin: auto;
        border-radius: 15px;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.458);
        position: absolute;
        top: 0;
        right: 4vw;
        margin-top: 3.5vh;
        z-index: 99;
    }
    
    .logoBox {
        display: none;
        margin-left: 2.2vw;
    }
    
    .wblogo {
        height: 4vh;
    }
    
    .navBox {
        list-style: none;
        width: 40vw;
        height: 12vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    nav.show {
        display: flex;
        transition: 1s ease-in-out;
    }
    
    .navul {
        list-style-type: none;
        width: 40vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .navli {
        font-size: 1.4vh;
        text-align: center;
        color: black;
        line-height: 4vh;
    }
    
    a.Alink-nav:link,
    a.Alink-nav:visited {
        color: #757575;
        text-decoration: none;
        font-weight: 400;
        border: none;
    }
    
    a.Alink-nav:hover:not(.active) {
        color: black;
        font-weight: 400;
    }
    
    a.Alink-nav:hover {
        color: black;
    }
    
    a.Alink-nav:active,
    .active {
        color: #6f42c1;
        font-weight: 600;
        text-decoration: none;
        padding-bottom: 0.6vh;
        border: none;
    }
    
    .signupbuttonsBox {
        display: flex;
        justify-content: space-between;
        height: 4vh;
        width: 40vw;
        margin-bottom: 0.5vh;
        margin: auto;
    }
    
    a.Alink-signup:link, a.Alink-signup:visited {
        background: none;
        color: black;
        width: 18vw;
        height: 3vh;
        text-decoration: none;
        align-content: center;
        text-align: center;
        font-family: "Poppins", serif;
        font-size: 1.2vh;
        border: 1px solid #6f42c1;
        border-radius: 7px;
        font-weight: 400;
        font-style: normal;
        cursor: pointer;
    }
      
    a.Alink-signup:hover, a.Alink-signup:active {
        background-color: black;
        color: white;
        width: 18vw;
        height: 3vh;
        align-content: center;
        text-decoration: none;
        text-align: center;
        font-size: 1.2vh;
        font-family: "Poppins", serif;
        font-weight: 400;
        border: none;
        border-radius: 7px;
        transition: 0.3s ease-in;
    }
    
    a.Alink-signin:link, a.Alink-signin:visited {
        background-color: #6f42c1;
        color: white;
        width: 18vw;
        height: 3vh;
        text-decoration: none;
        align-content: center;
        text-align: center;
        font-family: "Poppins", serif;
        font-size: 1.2vh;
        border-radius: 7px;
        font-weight: 400;
        font-style: normal;
        border: none;
        cursor: pointer;
    }
      
    a.Alink-signin:hover, a.Alink-signin:active {
        background-color: #5d37a1;
        color: white;
        width: 18vw;
        height: 3vh;
        align-content: center;
        text-decoration: none;
        text-align: center;
        font-size: 1.2vh;
        font-family: "Poppins", serif;
        font-weight: 400;
        border-radius: 7px;
        border: none;
        transition: 0.3s ease-in;
    }
    
    .heroContent {
        width: 98vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
    }
    
    .hC-textbox {
        width: 94vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
        margin-top: 0vh;
    }
    
    h1 {
        font-size: 4vh;
        line-height: 5.7vh;
        color: black;
        text-align: center;
    }
    
    .h1yellow {
        font-size: 4vh;
        color: #fec107;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.402);
        font-weight: 600;
    }
    
    .h1purple {
        font-size: 4vh;
        color: #8762cb;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.365);
        font-weight: 600;
    }
    
    .hCpara {
        font-size: 1.3vh;
        color: black;
        text-align: center;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    
    .proceedButton {
        background-color: #6f42c1;
        color: white;
        width: 55vw;
        height: 5vh;
        display: flex;
        text-decoration: none;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-family: "Poppins", serif;
        font-size: 1.7vh;
        border-radius: 7px;
        font-weight: 400;
        font-style: normal;
        margin: auto;
        border: none;
        margin-top: 0vh;
        cursor: pointer;
    }
      
    .proceedButton:hover {
        background-color: #5d37a1;
        color: white;
        width: 30vw;
        height: 4vh;
        display: flex;
        align-items: center;
        text-decoration: none;
        text-align: center;
        justify-content: center;
        font-size: 1.1vh;
        font-family: "Poppins", serif;
        font-weight: 400;
        border-radius: 7px;
        margin: auto;
        margin-top: 0vh;
        border: none;
        transition: 0.3s ease-in;
    }
    
    .proceedarrow {
        margin-top: 0.4vh;
        margin-left: 1vw;
    }
    
    .arrowforward {
        height: 1.6vh;
    }
    
    .hC-imgbox {
        margin-top: 1vh;
        display: inline;
        position: relative;
        animation-name: hCani;
        animation-duration: 4s;
        animation-delay: 0s;
        animation-iteration-count: 10;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        margin: auto;
    }
    
    @keyframes hCani {
        0% {top:20px; bottom:0px;}
        25% {top:0px; bottom:20px;}
        50% {top:20px; bottom:0px;}
        75% {top:0px; bottom:20px;}
        100% {top:20px; bottom:0px;}
    }
    
    .hCimg {
        height: 38vh;
        z-index: 0;
    }

    .stats {
        width: 100%;
        height: 38vh;
        align-content: center;
        background-image: url('images/landingpageimg/Rectangle\ 108.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: 78.8%;
        background-position-y: 100%;
        background-size: cover;
        background-origin: padding-box;
        z-index: 0;
        object-fit: cover;
        object-position: 10% 10%;
        position: relative;
        filter: grayscale(100%, 100%);
    }
    
    .statoverlay {
        width: 100%;
        height: 38vh;
        z-index: 1;
        background-color: #a379f075;
        position: absolute;
        bottom: 0;
    }
    
    .statsBox {
        width: 80vw;
        height: 30vh;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        z-index: 2;
    }
    
    .statBox1, .statBox2, .statBox3, .statBox4 {
        width: 30vw;
        height: 15vh;
        align-content: center;
        z-index: 2;
    }
    
    .statNo {
        color: white;
        font-size: 4vh;
        text-align: center;
        font-weight: 600;
        text-shadow: 1px 1px 5px #fec00722;
    }
    
    .statPara {
        color: white;
        font-size: 1.4vh;
        text-align: center;
        font-weight: 300;
        text-shadow: 1px 1px 5px #2d1a4e;
    }
}