* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: clip;
}
body {
  font-family: "Poppins", serif;
  background: rgb(255, 255, 255);
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.site-menu {
  padding: 1rem;
  margin-top: 0rem;
}
.mobile-head {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
}
.site-logo {
  z-index: 10;
}
#our-logo {
  width: 37vw;
}
.hamburger {
  background-color: rgb(255, 255, 255);
  padding: 1.4rem;
  border-radius: 100rem;
  box-shadow: 0px 3px 3px rgb(190, 190, 190);
  z-index: 1000;
  display: block;
}
#burger {
  -webkit-transition: all 0.3s ease-in-out;
}
.hamburger.active {
  margin-left: 30.5rem;
  position: fixed;
  margin-top: 0.5rem;
  box-shadow: none;
  padding: 0rem;
}
.hamburger.active #burger:nth-child(2) {
  opacity: 0;
}
.hamburger.active #burger:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
  width: 2rem;
  background-color: rgb(111, 66, 193);
}
.hamburger.active #burger:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
  width: 2rem;
  background-color: rgb(111, 66, 193);
}
.burger-span-one {
  display: block;
  width: 1.5rem;
  height: 0.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  -webkit-transition: all 0, 3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(111, 66, 193);
}
.burger-span-two {
  display: block;
  width: 2.2rem;
  height: 0.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-transition: all 0, 3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(111, 66, 193);
}
.burger-span-three {
  display: block;
  width: 1.2rem;
  height: 0.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  -webkit-transition: all 0, 3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(111, 66, 193);
}
.box-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.box-overlay.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 29, 29, 0.9);
  z-index: 999;
}
.unscroll {
  position: fixed;
  height: 100vh;
}
.site-navigations {
  opacity: 0;
  display: none;
  z-index: 1000;
  width: 80vw;
  height: 40vh;
  border-radius: 0.9rem;
  flex-direction: column;
  align-items: center;
  border: solid 0.1rem rgb(238, 234, 234);
  padding-top: 1rem;
  background: rgb(255, 255, 255);
  position: fixed;
}
.site-navigations.active {
  opacity: 1;
  display: flex;
  margin-top: -0.5rem;
  margin-left: 5.6rem;
}
.site-logo-mobile {
  display: flex;
  justify-content: center;
}
#our-logo-mobile {
  width: 28vw;
  margin: auto;
}
.nav-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  z-index: 1000;
}
.nav-menu ul a {
  text-decoration: none;
  font-size: 1.4rem;
  font-family: "poppins", serif;
  color: rgb(58, 56, 56);
  cursor: pointer;
  transition: 0.3s;
  line-height: 4rem;
  z-index: 1000;
}
#clicked {
  color: rgb(140, 104, 205);
  border-bottom: solid 0.1rem rgb(140, 104, 205);
  padding-bottom: 0.7rem;
}
.site-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 3rem;
}
.btn1 {
  width: 22vw;
  height: 6vh;
  border: none;
  border: solid 0.1rem rgb(140, 104, 205);
  border-radius: 0.8rem;
  font-family: "poppins", serif;
  background: rgb(245, 245, 245);
}
.btn2 {
  width: 22vw;
  height: 6vh;
  border: none;
  border: solid 0.1rem rgb(140, 104, 205);
  border-radius: 0.8rem;
  font-family: "poppins", serif;
  background: rgb(111, 66, 193);
  color: rgb(255, 255, 255);
}
.about-container-one {
  background: url("../images/hands-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 65vh;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.about-container-one h4 {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.about-container-one p {
  font-size: 1.4rem;
  color: rgb(235, 234, 237);
  width: 80%;
  text-align: center;
}
.whatis-box {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.whatis-polygon {
  margin-left: 5rem;
  margin-top: 2rem;
  z-index: 1;
}
.whatis-images {
  display: flex;
  gap: 1.3rem;
  z-index: 2;
  margin-top: 4rem;
}
.whatis-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  z-index: 2;
  margin-top: 4rem;
}
.whatis-text h4 {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(24, 23, 23);
}
.whatis-text h4 span {
  color: rgb(111, 66, 193);
}
.whatis-text p {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(24, 23, 23);
  width: 70%;
  text-align: justify;
}
.btn3 {
  width: 55vw;
  height: 7.5vh;
  background: rgb(111, 66, 193);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0.8rem;
  font-size: 1.4rem;
}
.mission-box {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.mission-statement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.statement-box {
  background: rgb(241, 241, 241);
  height: 32vh;
  width: 92vw;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.statement-box-two {
  background: rgb(241, 241, 241);
  height: 32vh;
  width: 92vw;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 2.5rem;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.statement-head {
  font-size: 1.5rem;
  background: rgb(255, 255, 255);
  border-radius: 2rem;
  padding: 1rem;

  color: rgb(34, 34, 34);
  width: 40%;
  text-align: center;
}
.statement-body {
  font-size: 1.3rem;
  color: rgb(34, 34, 34);
}
.team-box {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.team-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.team-head {
  font-size: 1.9rem;
  color: rgb(111, 66, 193);
  font-weight: 600;
}
.team-body {
  font-size: 1.3rem;
}
.team-archive {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.8rem;
  margin-top: 5rem;
}
.team-slides {
  background: rgb(241, 241, 241);
  width: 40vw;
  height: 30vh;
  border-radius: 1.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.team-post {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  align-items: center;
}
.team-post p {
  font-size: 1.3rem;
  color: rgb(31, 30, 30);
}
.control-box {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.control-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.control-head {
  font-size: 1.6rem;
  color: rgb(36, 35, 35);
  text-align: center;
  font-weight: 600;
}
.control-body {
  font-size: 1.3rem;
  color: rgb(36, 35, 35);
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  width: 70%;
}
.get-started-btn {
  background: rgb(111, 66, 193);
  border-radius: 1.2rem;
  border: none;
  color: rgb(255, 255, 255);
  width: 40vw;
  height: 7.5vh;
}
.scroll {
  display: none;
}
.footer-container {
  margin-top: 8rem;
  background: rgb(22, 13, 39);
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
}
.contact {
  margin: auto;
}
#footer-logo {
  width: 40vw;
}
.contact p {
  color: rgb(245, 245, 245);
  font-size: 1.4rem;
  margin-top: 1.2rem;
  text-align: center;
}
.social-media {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 1.8rem;
}
#media-icon {
  width: 6vw;
}
.footer-links-menu {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  padding: 2rem;
}
.footer-links {
  margin-top: 1.5rem;
}
.footer-links p {
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
}
.footer-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-top: 2rem;
}
.footer-links ul li {
  font-size: 1.4rem;
  color: rgb(230, 229, 229);
  font-family: "poppins", serif;
  cursor: pointer;
}
@media (min-width: 414px) {
  .mobile-head {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
  }
  .site-menu {
    padding: 1rem;
  }
  #our-logo {
    width: 42vw;
  }
  .hamburger {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 40rem;
    box-shadow: 0px 3px 3px rgb(190, 190, 190);
    z-index: 1000;
    display: block;
  }
  #burger {
    -webkit-transition: all 0.3s ease-in-out;
  }
  .hamburger.active {
    margin-left: 34rem;
    position: fixed;
    margin-top: -2rem;
    box-shadow: none;
    padding: 0rem;
  }
  .hamburger.active #burger:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active #burger:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
    width: 2rem;
    background-color: rgb(111, 66, 193);
  }
  .hamburger.active #burger:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
    width: 2rem;
    background-color: rgb(111, 66, 193);
  }
  .burger-span-one {
    display: block;
    width: 1.8rem;
    height: 0.2rem;
    margin: 1rem;
    -webkit-transition: all 0, 3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(111, 66, 193);
  }
  .burger-span-two {
    display: block;
    width: 2.5rem;
    padding-right: 1rem;
    height: 0.2rem;
    margin: 1rem;
    -webkit-transition: all 0, 3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(111, 66, 193);
  }
  .burger-span-three {
    display: block;
    width: 1.5rem;
    height: 0.2rem;
    margin: 1rem;
    -webkit-transition: all 0, 3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(111, 66, 193);
  }
  .site-logo {
    z-index: 10;
  }
  .box-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  .box-overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 29, 29, 0.9);
    z-index: 999;
  }
  .unscroll {
    position: fixed;
    height: 100vh;
  }
  .site-navigations {
    opacity: 0;
    display: none;
    z-index: 1000;
    width: 80vw;
    height: 40vh;
    border-radius: 0.9rem;
    flex-direction: column;
    align-items: center;
    border: solid 0.1rem rgb(238, 234, 234);
    padding-top: 1rem;
    background: rgb(255, 255, 255);
    position: fixed;
  }
  .site-navigations.active {
    opacity: 1;
    display: flex;
    margin-top: -0.5rem;
    margin-left: 6.8rem;
  }
  #our-logo-mobile {
    width: 40vw;
    margin: auto;
  }
  .nav-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    z-index: 1000;
  }
  .nav-menu ul a {
    text-decoration: none;
    font-size: 1.6rem;
    font-family: "poppins", serif;
    color: rgb(58, 56, 56);
    cursor: pointer;
    transition: 0.3s;
    line-height: 4rem;
    z-index: 1000;
  }
  #clicked {
    color: rgb(140, 104, 205);
    border-bottom: solid 0.1rem rgb(140, 104, 205);
    padding-bottom: 0.7rem;
  }
  .site-buttons {
    margin-top: 5rem;
    display: flex;
    gap: 7rem;
  }
  .btn1 {
    width: 25vw;
    height: 6vh;
    border: none;
    border: solid 0.1rem rgb(140, 104, 205);
    border-radius: 0.8rem;
    font-family: "poppins", serif;
    background: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
  }
  .btn2 {
    width: 25vw;
    height: 6vh;
    border: none;
    border: solid 0.1rem rgb(140, 104, 205);
    border-radius: 0.8rem;
    font-family: "poppins", serif;
    background: rgb(111, 66, 193);
    color: rgb(255, 255, 255);
  }
  .about-container-one {
    background: url("../images/hands-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 65vh;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  .about-container-one h4 {
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }
  .about-container-one p {
    font-size: 1.6rem;
    color: rgb(235, 234, 237);
    width: 80%;
    text-align: center;
  }
  .whatis-box {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .whatis-polygon {
    margin-left: 2rem;
    margin-top: 8rem;
    z-index: 1;
  }
  .whatis-images {
    display: flex;
    gap: 1.3rem;
    z-index: 2;
    margin-top: 4rem;
  }
  .whatis-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    z-index: 2;
    margin-top: 4rem;
  }
  .whatis-text h4 {
    font-size: 1.7rem;
    font-weight: 500;
    color: rgb(24, 23, 23);
  }
  .whatis-text h4 span {
    color: rgb(111, 66, 193);
  }
  .whatis-text p {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(24, 23, 23);
    width: 70%;
    text-align: justify;
  }
  .btn3 {
    width: 55vw;
    height: 7.5vh;
    background: rgb(111, 66, 193);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.8rem;
    font-size: 1.4rem;
  }
  .mission-box {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .mission-statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .statement-box {
    background: rgb(241, 241, 241);
    height: 32vh;
    width: 92vw;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .statement-box-two {
    background: rgb(241, 241, 241);
    height: 32vh;
    width: 92vw;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 2.5rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .statement-head {
    font-size: 1.6rem;
    background: rgb(255, 255, 255);
    border-radius: 2rem;
    padding: 1rem;

    color: rgb(34, 34, 34);
    width: 40%;
    text-align: center;
  }
  .statement-body {
    font-size: 1.3rem;
    color: rgb(34, 34, 34);
  }
  .team-box {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .team-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .team-head {
    font-size: 2rem;
    color: rgb(111, 66, 193);
    font-weight: 600;
  }
  .team-body {
    font-size: 1.4rem;
    text-align: justify;
  }
  .team-archive {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.8rem;
    margin-top: 5rem;
  }
  .team-slides {
    background: rgb(241, 241, 241);
    width: 40vw;
    height: 27vh;
    border-radius: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .team-post {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
  }
  .team-post p {
    font-size: 1.3rem;
    color: rgb(31, 30, 30);
  }
  .control-box {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .control-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .control-head {
    font-size: 1.8rem;
    color: rgb(36, 35, 35);
    text-align: center;
    font-weight: 600;
  }
  .control-body {
    font-size: 1.3rem;
    color: rgb(36, 35, 35);
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    width: 70%;
  }
  .get-started-btn {
    background: rgb(111, 66, 193);
    border-radius: 1.2rem;
    border: none;
    color: rgb(255, 255, 255);
    width: 40vw;
    height: 7.5vh;
  }
  .footer-container {
    margin-top: 8rem;
    background: rgb(22, 13, 39);
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
  }
  .contact {
    margin: auto;
  }
  #footer-logo {
    width: 40vw;
  }
  .contact p {
    color: rgb(245, 245, 245);
    font-size: 1.4rem;
    margin-top: 1.2rem;
    text-align: center;
  }
  .social-media {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
  }
  #media-icon {
    width: 6vw;
  }
  .footer-links-menu {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    padding: 2rem;
  }
  .footer-links {
    margin-top: 1.5rem;
  }
  .footer-links p {
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
  }
  .footer-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-top: 1rem;
  }
  .footer-links ul li {
    font-size: 1.4rem;
    color: rgb(230, 229, 229);
    font-family: "poppins", serif;
    cursor: pointer;
  }
}
@media (min-width: 640px) {
  .mobile-head {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
  }
  .site-menu {
    padding: 1rem;
  }
  #our-logo {
    width: 30vw;
  }
  .hamburger {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 40rem;
    box-shadow: 0px 3px 3px rgb(190, 190, 190);
    z-index: 1000;
    display: block;
  }
  #burger {
    -webkit-transition: all 0.3s ease-in-out;
  }
  .hamburger.active {
    margin-left: 56rem;
    position: fixed;
    margin-top: -0.2rem;
    box-shadow: none;
    padding: 0rem;
  }
  .hamburger.active #burger:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active #burger:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
    width: 2.5rem;
    background-color: rgb(111, 66, 193);
  }
  .hamburger.active #burger:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
    width: 2.5rem;
    background-color: rgb(111, 66, 193);
  }
  .burger-span-one {
    display: block;
    width: 1.8rem;
    height: 0.2rem;
    margin: 1rem;
    -webkit-transition: all 0, 3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(111, 66, 193);
  }
  .burger-span-two {
    display: block;
    width: 2.5rem;
    padding-right: 1rem;
    height: 0.2rem;
    margin: 1rem;
    -webkit-transition: all 0, 3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(111, 66, 193);
  }
  .burger-span-three {
    display: block;
    width: 1.5rem;
    height: 0.2rem;
    margin: 1rem;
    -webkit-transition: all 0, 3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(111, 66, 193);
  }
  .site-logo {
    z-index: 10;
  }
  .box-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  .box-overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 29, 29, 0.9);
    z-index: 999;
  }
  .unscroll {
    position: fixed;
    height: 100vh;
  }
  .site-navigations {
    opacity: 0;
    display: none;
    z-index: 1000;
    width: 70vw;
    height: 50vh;
    border-radius: 0.9rem;
    flex-direction: column;
    align-items: center;
    border: solid 0.1rem rgb(238, 234, 234);
    padding-top: 1rem;
    background: rgb(255, 255, 255);
    position: fixed;
  }
  .site-navigations.active {
    opacity: 1;
    display: flex;
    margin-top: -0.5rem;
    margin-left: 17.5rem;
  }
  #our-logo-mobile {
    width: 28vw;
    margin: auto;
  }
  .nav-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    z-index: 1000;
    margin-top: 3rem;
  }
  .nav-menu ul a {
    text-decoration: none;
    font-size: 1.7rem;
    font-family: "poppins", serif;
    color: rgb(58, 56, 56);
    cursor: pointer;
    transition: 0.3s;
    line-height: 4rem;
    z-index: 1000;
  }
  #clicked {
    color: rgb(140, 104, 205);
    border-bottom: solid 0.1rem rgb(140, 104, 205);
    padding-bottom: 0.7rem;
  }
  .site-buttons {
    margin-top: 5rem;
    display: flex;
    gap: 7rem;
  }
  .btn1 {
    width: 25vw;
    height: 7vh;
    border: none;
    border: solid 0.1rem rgb(140, 104, 205);
    border-radius: 0.8rem;
    font-family: "poppins", serif;
    background: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
  }
  .btn2 {
    width: 25vw;
    height: 7vh;
    border: none;
    border: solid 0.1rem rgb(140, 104, 205);
    border-radius: 0.8rem;
    font-family: "poppins", serif;
    background: rgb(111, 66, 193);
    color: rgb(255, 255, 255);
  }
  .about-container-one {
    background: url("../images/hands-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 65vh;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  .about-container-one h4 {
    font-size: 1.9rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }
  .about-container-one p {
    font-size: 1.6rem;
    color: rgb(235, 234, 237);
    width: 50%;
    text-align: center;
  }
  .whatis-box {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .whatis-polygon {
    margin-left: 53rem;
    margin-top: 5rem;
    z-index: 1;
    position: absolute;
  }
  .whatis-images {
    display: flex;
    gap: 1.3rem;
    z-index: 2;
    margin-top: 4rem;
  }
  .whatis-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    z-index: 2;
    margin-top: 4rem;
  }
  .whatis-text h4 {
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(24, 23, 23);
  }
  .whatis-text h4 span {
    color: rgb(111, 66, 193);
  }
  .whatis-text p {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(24, 23, 23);
    width: 70%;
    text-align: justify;
  }
  .btn3 {
    width: 55vw;
    height: 8vh;
    background: rgb(111, 66, 193);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.8rem;
    font-size: 1.4rem;
  }
  .mission-box {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .mission-statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .statement-box {
    background: rgb(241, 241, 241);
    height: 32vh;
    width: 80vw;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .statement-box-two {
    background: rgb(241, 241, 241);
    height: 32vh;
    width: 80vw;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 2.5rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .statement-head {
    font-size: 1.9rem;
    background: rgb(255, 255, 255);
    border-radius: 2rem;
    padding: 1rem;
    color: rgb(34, 34, 34);
    width: 28%;
    text-align: center;
  }
  .statement-body {
    font-size: 1.5rem;
    color: rgb(34, 34, 34);
  }
  .team-box {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .team-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .team-head {
    font-size: 2.2rem;
    color: rgb(111, 66, 193);
    font-weight: 600;
  }
  .team-body {
    font-size: 1.4rem;
    text-align: justify;
    width: 52%;
  }
  .team-archive {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.8rem;
    margin-top: 5rem;
  }
  .team-slides {
    background: rgb(241, 241, 241);
    width: 40vw;
    height: 43vh;
    border-radius: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .team-post {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
  }
  .team-post p {
    font-size: 1.5rem;
    color: rgb(31, 30, 30);
  }
  .control-box {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .control-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .control-head {
    font-size: 2rem;
    color: rgb(36, 35, 35);
    text-align: center;
    font-weight: 600;
  }
  .control-body {
    font-size: 1.5rem;
    color: rgb(36, 35, 35);
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    width: 70%;
  }
  .get-started-btn {
    background: rgb(111, 66, 193);
    border-radius: 1.2rem;
    border: none;
    color: rgb(255, 255, 255);
    width: 37vw;
    height: 8vh;
  }
  .footer-container {
    margin-top: 8rem;
    background: rgb(22, 13, 39);
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
  }
  .contact {
    margin: auto;
  }
  #footer-logo {
    width: 40vw;
  }
  .contact p {
    color: rgb(245, 245, 245);
    font-size: 1.4rem;
    margin-top: 1.2rem;
    text-align: center;
  }
  .social-media {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
  }
  #media-icon {
    width: 6vw;
  }
  .footer-links-menu {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20rem;
    padding-left: 5rem;
  }
  .footer-links {
    margin-top: 1.5rem;
  }
  .footer-links p {
    font-size: 1.9rem;
    color: rgb(255, 255, 255);
  }
  .footer-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-top: 2rem;
  }
  .footer-links ul li {
    font-size: 1.5rem;
    color: rgb(230, 229, 229);
    font-family: "poppins", serif;
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  .site-menu {
    .mobile-head {
      display: flex;
      justify-content: space-between;
      padding: 0rem 1rem;
    }
    padding: 1rem;
  }
  #our-logo {
    width: 25vw;
  }
  .hamburger {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 40rem;
    box-shadow: 0px 3px 3px rgb(190, 190, 190);
    z-index: 1000;
    display: block;
  }
  #burger {
    -webkit-transition: all 0.3s ease-in-out;
  }
  .hamburger.active {
    margin-left: 68rem;
    position: fixed;
    margin-top: -0.2rem;
    margin-bottom: 0.5rem;
    box-shadow: none;
    padding: 0rem;
  }
  .hamburger.active #burger:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active #burger:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
    width: 2.8rem;
    background-color: rgb(111, 66, 193);
  }
  .hamburger.active #burger:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
    width: 2.8rem;
    background-color: rgb(111, 66, 193);
  }
  .burger-span-one {
    display: block;
    width: 2rem;
    height: 0.3rem;
    margin: 1rem;
    -webkit-transition: all 0, 3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(111, 66, 193);
  }
  .burger-span-two {
    display: block;
    width: 2.7rem;
    padding-right: 1rem;
    height: 0.3rem;
    margin: 1rem;
    -webkit-transition: all 0, 3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(111, 66, 193);
  }
  .burger-span-three {
    display: block;
    width: 1.7rem;
    height: 0.3rem;
    margin: 1rem;
    -webkit-transition: all 0, 3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(111, 66, 193);
  }
  .site-logo {
    z-index: 10;
  }
  .box-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  .box-overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 29, 29, 0.9);
    z-index: 999;
  }
  .unscroll {
    position: fixed;
    height: 100vh;
  }
  .site-navigations {
    opacity: 0;
    display: none;
    z-index: 1000;
    width: 70vw;
    height: 47vh;
    border-radius: 0.9rem;
    flex-direction: column;
    align-items: center;
    border: solid 0.1rem rgb(238, 234, 234);
    padding-top: 1rem;
    background: rgb(255, 255, 255);
    position: fixed;
  }
  .site-navigations.active {
    opacity: 1;
    display: flex;
    margin-top: -0.5rem;
    margin-left: 21rem;
  }
  #our-logo-mobile {
    width: 28vw;
    margin: auto;
  }
  .nav-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    z-index: 1000;
    margin-top: 3rem;
  }
  .nav-menu ul a {
    text-decoration: none;
    font-size: 1.9rem;
    font-family: "poppins", serif;
    color: rgb(58, 56, 56);
    cursor: pointer;
    transition: 0.3s;
    line-height: 5rem;
    z-index: 1000;
  }
  #clicked {
    color: rgb(140, 104, 205);
    border-bottom: solid 0.1rem rgb(140, 104, 205);
    padding-bottom: 0.7rem;
  }
  .site-buttons {
    margin-top: 5rem;
    display: flex;
    gap: 7rem;
  }
  .btn1 {
    width: 25vw;
    height: 7vh;
    border: none;
    border: solid 0.1rem rgb(140, 104, 205);
    border-radius: 0.8rem;
    font-family: "poppins", serif;
    background: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
  }
  .btn2 {
    width: 25vw;
    height: 7vh;
    border: none;
    border: solid 0.1rem rgb(140, 104, 205);
    border-radius: 0.8rem;
    font-family: "poppins", serif;
    background: rgb(111, 66, 193);
    color: rgb(255, 255, 255);
  }
  .about-container-one {
    background: url("../images/hands-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  .about-container-one h4 {
    font-size: 1.9rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }
  .about-container-one p {
    font-size: 1.6rem;
    color: rgb(235, 234, 237);
    width: 87%;
    text-align: center;
  }
  .whatis-box {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .whatis-polygon {
    margin-left: 53rem;
    margin-top: 5rem;
    z-index: 1;
    position: absolute;
  }
  .whatis-images {
    display: flex;
    gap: 1.3rem;
    z-index: 2;
    margin-top: 4rem;
  }
  .whatis-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    z-index: 2;
    margin-top: 4rem;
  }
  .whatis-text h4 {
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(24, 23, 23);
  }
  .whatis-text h4 span {
    color: rgb(111, 66, 193);
  }
  .whatis-text p {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(24, 23, 23);
    width: 90%;
    text-align: justify;
  }
  .btn3 {
    width: 30vw;
    height: 7vh;
    background: rgb(111, 66, 193);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.8rem;
    font-size: 1.4rem;
  }
  .mission-box {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .mission-statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .statement-box {
    background: rgb(241, 241, 241);
    height: 22vh;
    width: 70vw;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .statement-box-two {
    background: rgb(241, 241, 241);
    height: 22vh;
    width: 70vw;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 2.5rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .statement-head {
    font-size: 1.9rem;
    background: rgb(255, 255, 255);
    border-radius: 4rem;
    padding: 1rem;
    color: rgb(34, 34, 34);
    width: 28%;
    text-align: center;
  }
  .statement-body {
    font-size: 1.5rem;
    color: rgb(34, 34, 34);
  }
  .team-box {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .team-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .team-head {
    font-size: 2.2rem;
    color: rgb(111, 66, 193);
    font-weight: 600;
  }
  .team-body {
    font-size: 1.4rem;
    text-align: justify;
    width: 90%;
  }
  .team-archive {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.8rem;
    margin-top: 5rem;
  }
  .team-slides {
    background: rgb(241, 241, 241);
    width: 20vw;
    height: 25vh;
    border-radius: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .team-post {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
  }
  .team-post p {
    font-size: 1.4rem;
    color: rgb(31, 30, 30);
  }
  .control-box {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0rem;
  }
  .control-img {
    width: 50%;
    margin-left: 2rem;
  }
  .control-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .control-head {
    font-size: 2rem;
    color: rgb(36, 35, 35);
    text-align: center;
    font-weight: 600;
  }
  .control-head br {
    display: none;
  }
  .control-body {
    font-size: 1.5rem;
    color: rgb(36, 35, 35);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    width: 90%;
  }
  .get-started-btn {
    background: rgb(111, 66, 193);
    border-radius: 1.2rem;
    border: none;
    color: rgb(255, 255, 255);
    width: 25vw;
    height: 7vh;
  }
  .footer-container {
    margin-top: 8rem;
    background: rgb(22, 13, 39);
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row;
    padding-top: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .contact {
    margin: 7rem auto;
  }
  #footer-logo {
    width: 20vw;
  }
  .contact p {
    color: rgb(245, 245, 245);
    font-size: 1.4rem;
    margin-top: 1.2rem;
    text-align: center;
  }
  .social-media {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
  }
  #media-icon {
    width: 3vw;
  }
  .footer-links-menu {
    margin-top: 2rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 5rem;
    padding-left: 5rem;
  }
  .footer-links {
    margin-top: 1.5rem;
  }
  .footer-links p {
    font-size: 1.9rem;
    color: rgb(255, 255, 255);
  }
  .footer-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-top: 2rem;
  }
  .footer-links ul li {
    font-size: 1.3rem;
    color: rgb(230, 229, 229);
    font-family: "poppins", serif;
    cursor: pointer;
  }
}
@media (min-width: 1024px) {
  .mobile-head {
    display: block;
  }
  .site-logo {
    position: relative;
  }
  #our-logo {
    width: 25vw;
    display: none;
  }
  .hamburger {
    background-color: rgb(255, 255, 255);
    padding: 0.8rem;
    border-radius: 40rem;
    box-shadow: 0px 3px 3px rgb(190, 190, 190);
    z-index: 1000;
    display: none;
    margin-left: 67rem;
  }
  #burger {
    -webkit-transition: all 0.3s ease-in-out;
  }
  .hamburger.active {
    margin-left: 68rem;
    position: fixed;
    margin-top: -0.2rem;
    box-shadow: none;
    padding: 0rem;
  }
  .hamburger.active #burger:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active #burger:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
    width: 2.8rem;
    background-color: rgb(111, 66, 193);
  }
  .hamburger.active #burger:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
    width: 2.8rem;
    background-color: rgb(111, 66, 193);
  }
  .burger-span-one {
    display: block;
    width: 2rem;
    height: 0.3rem;
    margin: 1rem;
    -webkit-transition: all 0, 3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(111, 66, 193);
  }
  .burger-span-two {
    display: block;
    width: 2.7rem;
    padding-right: 1rem;
    height: 0.3rem;
    margin: 1rem;
    -webkit-transition: all 0, 3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(111, 66, 193);
  }
  .burger-span-three {
    display: block;
    width: 1.7rem;
    height: 0.3rem;
    margin: 1rem;
    -webkit-transition: all 0, 3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(111, 66, 193);
  }
  .site-logo {
    z-index: 10;
  }
  .box-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  .box-overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 29, 29, 0.9);
    z-index: 999;
  }
  .unscroll {
    position: fixed;
    height: 100vh;
  }
  .site-menu {
    padding: 1rem;
    min-height: 1rem;
  }
  .site-navigations {
    opacity: 1;
    display: block;
    z-index: 999;
    width: 80%;
    height: 12vh;
    border-radius: 1.7rem;
    flex-direction: row;
    align-self: flex-start;
    border: none;
    padding: 0.5rem 2rem;
    background: rgb(247, 247, 247);
    position: sticky;
    top: 0;
    /* left: 50%;
    transform: translateX(-9%); */
    margin: auto;
    box-shadow: 0px 3px 3px rgb(185, 184, 184);
  }
  .site-navigations.active {
    opacity: 1;
    display: flex;
    margin-top: 0rem;
    margin-left: 21rem;
  }
  #our-logo-mobile {
    width: 14vw;
    margin: auto;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-menu ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    list-style: none;
    z-index: 1000;
    padding-top: 0rem;
    margin-top: 0rem;
  }
  .nav-menu ul a {
    text-decoration: none;
    font-size: 1.4rem;
    font-family: "poppins", serif;
    color: rgb(58, 56, 56);
    cursor: pointer;
    transition: 0.3s;
    line-height: 5rem;
    z-index: 1000;
  }
  .nav-menu ul a:hover {
    color: rgb(111, 66, 193);
  }
  #clicked {
    color: rgb(140, 104, 205);
    border-bottom: solid 0.1rem rgb(140, 104, 205);
    padding-bottom: 0.7rem;
  }
  .site-buttons {
    margin-top: 0;
    display: flex;
    gap: 2rem;
  }
  .btn1 {
    width: 8vw;
    height: 6vh;
    border: none;
    border: solid 0.1rem rgb(140, 104, 205);
    border-radius: 0.8rem;
    font-family: "poppins", serif;
    background: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s;
  }
  .btn1:hover {
    background: rgb(111, 66, 193);
    color: rgb(255, 255, 255);
  }
  .btn2 {
    width: 8vw;
    height: 6vh;
    border: none;
    border: solid 0.1rem rgb(140, 104, 205);
    border-radius: 0.8rem;
    font-family: "poppins", serif;
    background: rgb(111, 66, 193);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;
  }
  .btn2:hover {
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0);
  }
  .about-container-one {
    background: url("../images/hands-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  .about-container-one h4 {
    font-size: 1.9rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }
  .about-container-one p {
    font-size: 1.6rem;
    color: rgb(235, 234, 237);
    width: 73%;
    text-align: center;
  }
  .whatis-box {
    width: 50%;
    margin-top: 3rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .whatis-polygon {
    margin-left: 100rem;
    margin-top: 5rem;
    z-index: 1;
    position: absolute;
  }
  .whatis-images {
    display: flex;
    gap: 1.3rem;
    z-index: 2;
    margin-top: 4rem;
  }
  .whatis-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.2rem;
    z-index: 2;
    margin-top: 5rem;
  }
  .whatis-text h4 {
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(24, 23, 23);
    text-align: left;
  }
  .whatis-text h4 span {
    color: rgb(111, 66, 193);
  }
  .whatis-text p {
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(24, 23, 23);
    width: 100%;
    text-align: justify;
  }
  .btn3 {
    width: 13vw;
    height: 7vh;
    background: rgb(111, 66, 193);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.8rem;
    font-size: 1.3rem;
    transition: 0.6s;
    cursor: pointer;
    font-family: "poppins", serif;
  }
  .btn3:hover {
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0);
    border: solid 0.2rem rgb(111, 66, 193);
  }
  .mission-box {
    margin-top: 14rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .mission-statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .statement-box {
    background: rgb(241, 241, 241);
    height: 24vh;
    width: 40vw;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    transition: 0.3s;
  }
  .statement-box:hover {
    background: rgb(253, 234, 190);
  }
  .statement-box-two {
    background: rgb(241, 241, 241);
    height: 24vh;
    width: 40vw;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 2.5rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }
  .statement-box-two:hover {
    background: rgb(253, 234, 190);
  }
  .statement-head {
    font-size: 1.5rem;
    background: rgb(255, 255, 255);
    border-radius: 4rem;
    padding: 1rem;
    color: rgb(34, 34, 34);
    width: 28%;
    text-align: center;
  }
  .statement-body {
    font-size: 1.3rem;
    color: rgb(34, 34, 34);
  }
  .team-box {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .team-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .team-head {
    font-size: 2.2rem;
    color: rgb(111, 66, 193);
    font-weight: 600;
  }
  .team-body {
    font-size: 1.3rem;
    text-align: justify;
    width: 80%;
  }
  .team-archive {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
    margin-top: 5rem;
  }
  #team-img {
    width: 13vw;
  }
  .team-slides {
    background: rgb(241, 241, 241);
    width: 14.5vw;
    height: 35vh;
    border-radius: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .team-post {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
  }
  .team-post p {
    font-size: 1.2rem;
    color: rgb(31, 30, 30);
  }
  .control-box {
    width: 60%;
    margin: 10rem auto 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
  }
  .control-img {
    width: 50%;
    margin-left: 0rem;
  }
  .control-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .control-head {
    font-size: 1.7rem;
    color: rgb(36, 35, 35);
    text-align: center;
    font-weight: 600;
  }
  .control-head br {
    display: none;
  }
  .control-body {
    font-size: 1.3rem;
    color: rgb(36, 35, 35);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    width: 100%;
  }
  .get-started-btn {
    background: rgb(111, 66, 193);
    border-radius: 1.2rem;
    border: none;
    color: rgb(255, 255, 255);
    width: 12vw;
    height: 7vh;
    font-size: 1.3rem;
    font-family: "poppins", serif;
    cursor: pointer;
    transition: 0.6s;
  }
  .get-started-btn:hover {
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0);
    border: solid 0.2rem rgb(111, 66, 193);
  }
  .scroll {
    display: block;
    display: flex;
    justify-content: end;
    padding-right: 4rem;
    margin-top: -5rem;
  }
  .scroll-to-top {
    background: rgb(111, 66, 193);
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    padding: 0.5rem;
    border-radius: 0.1rem;
    cursor: pointer;
  }
  .scroll-to-top:active {
    transform: scale(0.96);
  }
  .footer-container {
    margin-top: 8rem;
    background: rgb(22, 13, 39);
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .contact {
    margin: 7rem 7rem;
  }
  #footer-logo {
    width: 13vw;
  }
  .contact p {
    color: rgb(245, 245, 245);
    font-size: 1.4rem;
    margin-top: 1.2rem;
    text-align: start;
  }
  .social-media {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
  }
  #media-icon {
    width: 2vw;
  }
  .footer-links-menu {
    margin-top: 2rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 20rem;
    padding-left: 5rem;
  }
  .footer-links {
    margin-top: 1.5rem;
  }
  .footer-links p {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
  }
  .footer-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-top: 2rem;
  }
  .footer-links ul li {
    font-size: 1.3rem;
    color: rgb(230, 229, 229);
    font-family: "poppins", serif;
    cursor: pointer;
  }
}
@media (min-width: 1280px) {
  .mobile-head {
    display: block;
  }
  .site-logo {
    position: relative;
  }
  #our-logo {
    width: 25vw;
    display: none;
  }
  .hamburger {
    background-color: rgb(255, 255, 255);
    padding: 0.8rem;
    border-radius: 40rem;
    box-shadow: 0px 3px 3px rgb(190, 190, 190);
    z-index: 1000;
    display: none;
    margin-left: 67rem;
  }
  #burger {
    -webkit-transition: all 0.3s ease-in-out;
  }
  .hamburger.active {
    margin-left: 68rem;
    position: fixed;
    margin-top: -0.2rem;
    box-shadow: none;
    padding: 0rem;
  }
  .hamburger.active #burger:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active #burger:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
    width: 2.8rem;
    background-color: rgb(111, 66, 193);
  }
  .hamburger.active #burger:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
    width: 2.8rem;
    background-color: rgb(111, 66, 193);
  }
  .burger-span-one {
    display: block;
    width: 2rem;
    height: 0.3rem;
    margin: 1rem;
    -webkit-transition: all 0, 3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(111, 66, 193);
  }
  .burger-span-two {
    display: block;
    width: 2.7rem;
    padding-right: 1rem;
    height: 0.3rem;
    margin: 1rem;
    -webkit-transition: all 0, 3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(111, 66, 193);
  }
  .burger-span-three {
    display: block;
    width: 1.7rem;
    height: 0.3rem;
    margin: 1rem;
    -webkit-transition: all 0, 3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(111, 66, 193);
  }
  .site-logo {
    z-index: 10;
  }
  .box-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  .box-overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 29, 29, 0.9);
    z-index: 999;
  }
  .unscroll {
    position: fixed;
    height: 100vh;
  }
  .site-menu {
    padding: 1rem;
    min-height: 1rem;
  }
  .site-navigations {
    opacity: 1;
    display: block;
    z-index: 999;
    width: 78%;
    height: 12vh;
    border-radius: 1.7rem;
    flex-direction: row;
    align-self: flex-start;
    border: none;
    padding: 0.5rem 2rem;
    background: rgb(247, 247, 247);
    position: sticky;
    top: 0;
    /* left: 50%;
    transform: translateX(-9%); */
    margin: auto;
    box-shadow: 0px 3px 3px rgb(185, 184, 184);
  }
  .site-navigations.active {
    opacity: 1;
    display: flex;
    margin-top: 0rem;
    margin-left: 21rem;
  }
  #our-logo-mobile {
    width: 14vw;
    margin: auto;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-menu ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    list-style: none;
    z-index: 1000;
    padding-top: 0rem;
    margin-top: 0rem;
  }
  .nav-menu ul a {
    text-decoration: none;
    font-size: 1.4rem;
    font-family: "poppins", serif;
    color: rgb(58, 56, 56);
    cursor: pointer;
    transition: 0.3s;
    line-height: 5rem;
    z-index: 1000;
  }
  .nav-menu ul a:hover {
    color: rgb(111, 66, 193);
  }
  #clicked {
    color: rgb(140, 104, 205);
    border-bottom: solid 0.1rem rgb(140, 104, 205);
    padding-bottom: 0.7rem;
  }
  .site-buttons {
    margin-top: 0;
    display: flex;
    gap: 2rem;
  }
  .btn1 {
    width: 8vw;
    height: 6vh;
    border: none;
    border: solid 0.1rem rgb(140, 104, 205);
    border-radius: 0.8rem;
    font-family: "poppins", serif;
    background: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s;
  }
  .btn1:hover {
    background: rgb(111, 66, 193);
    color: rgb(255, 255, 255);
  }
  .btn2 {
    width: 8vw;
    height: 6vh;
    border: none;
    border: solid 0.1rem rgb(140, 104, 205);
    border-radius: 0.8rem;
    font-family: "poppins", serif;
    background: rgb(111, 66, 193);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;
  }
  .btn2:hover {
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0);
  }
  .about-container-one {
    background: url("../images/hands-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 45vh;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  .about-container-one h4 {
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }
  .about-container-one p {
    font-size: 1.4rem;
    color: rgb(235, 234, 237);
    width: 60%;
    text-align: center;
  }
  .whatis-box {
    width: 60%;
    margin-top: 3rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .whatis-polygon {
    margin-left: 80rem;
    margin-top: 8rem;
    z-index: 1;
    position: absolute;
  }
  .whatis-images {
    display: flex;
    gap: 1.3rem;
    z-index: 2;
    margin-top: 4rem;
  }
  .whatis-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.2rem;
    z-index: 2;
    margin-top: 5rem;
  }
  .whatis-text h4 {
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(24, 23, 23);
    text-align: left;
  }
  .whatis-text h4 span {
    color: rgb(111, 66, 193);
  }
  .whatis-text p {
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(24, 23, 23);
    width: 90%;
    text-align: justify;
  }
  .btn3 {
    width: 11vw;
    height: 7vh;
    background: rgb(111, 66, 193);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.8rem;
    font-size: 1.3rem;
    transition: 0.6s;
    cursor: pointer;
    font-family: "poppins", serif;
  }
  .btn3:hover {
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0);
    border: solid 0.2rem rgb(111, 66, 193);
  }
  .mission-box {
    margin-top: 14rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .mission-statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .statement-box {
    background: rgb(241, 241, 241);
    height: 24vh;
    width: 40vw;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    transition: 0.3s;
  }
  .statement-box:hover {
    background: rgb(253, 234, 190);
  }
  .statement-box-two {
    background: rgb(241, 241, 241);
    height: 24vh;
    width: 40vw;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 2.5rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }
  .statement-box-two:hover {
    background: rgb(253, 234, 190);
  }
  .statement-head {
    font-size: 1.5rem;
    background: rgb(255, 255, 255);
    border-radius: 4rem;
    padding: 1rem;
    color: rgb(34, 34, 34);
    width: 28%;
    text-align: center;
  }
  .statement-body {
    font-size: 1.3rem;
    color: rgb(34, 34, 34);
  }
  .team-box {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .team-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .team-head {
    font-size: 2.2rem;
    color: rgb(111, 66, 193);
    font-weight: 600;
  }
  .team-body {
    font-size: 1.3rem;
    text-align: justify;
    width: 80%;
  }
  .team-archive {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
    margin-top: 5rem;
  }
  #team-img {
    width: 13vw;
  }
  .team-slides {
    background: rgb(241, 241, 241);
    width: 14.5vw;
    height: 35vh;
    border-radius: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .team-post {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
  }
  .team-post p {
    font-size: 1.2rem;
    color: rgb(31, 30, 30);
  }
  .control-box {
    width: 60%;
    margin: 10rem auto 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
  }
  .control-img {
    width: 50%;
    margin-left: 0rem;
  }
  .control-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .control-head {
    font-size: 1.7rem;
    color: rgb(36, 35, 35);
    text-align: center;
    font-weight: 600;
  }
  .control-head br {
    display: none;
  }
  .control-body {
    font-size: 1.3rem;
    color: rgb(36, 35, 35);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    width: 100%;
  }
  .get-started-btn {
    background: rgb(111, 66, 193);
    border-radius: 1.2rem;
    border: none;
    color: rgb(255, 255, 255);
    width: 12vw;
    height: 7vh;
    font-size: 1.3rem;
    font-family: "poppins", serif;
    cursor: pointer;
    transition: 0.6s;
  }
  .get-started-btn:hover {
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0);
    border: solid 0.2rem rgb(111, 66, 193);
  }
  .scroll {
    display: block;
    display: flex;
    justify-content: end;
    padding-right: 4rem;
    margin-top: -5rem;
  }
  .scroll-to-top {
    background: rgb(111, 66, 193);
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    padding: 0.5rem;
    border-radius: 0.1rem;
    cursor: pointer;
  }
  .scroll-to-top:active {
    transform: scale(0.96);
  }
  .footer-container {
    margin-top: 8rem;
    background: rgb(22, 13, 39);
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .contact {
    margin: 7rem 8.2rem;
  }
  #footer-logo {
    width: 13vw;
  }
  .contact p {
    color: rgb(245, 245, 245);
    font-size: 1.4rem;
    margin-top: 1.2rem;
    text-align: start;
  }
  .social-media {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
  }
  #media-icon {
    width: 2vw;
  }
  .footer-links-menu {
    margin-top: 2rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 20rem;
    padding-left: 5rem;
  }
  .footer-links {
    margin-top: 1.5rem;
  }
  .footer-links p {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
  }
  .footer-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-top: 2rem;
  }
  .footer-links ul li {
    font-size: 1.3rem;
    color: rgb(230, 229, 229);
    font-family: "poppins", serif;
    cursor: pointer;
  }
}
